@layer base {
    html {
        scroll-behavior: smooth;
        font-family: 'Poppins',sans-serif;
        @apply font-medium
    }

    body {
        background: var(--color16);
        // ========================
        // Default text styles
        // ========================
        a {
            text-decoration: none;
            cursor: pointer;
        }

        img,
        video {
            max-width: 100%;
        }

        // ======================
        // Default heading styles
        // ======================
        h1 {
            @apply text-5xl text-black uppercase;

            @include media-breakpoint-up(md) {
                @apply text-6xl;
            }

            @include media-breakpoint-up(xl) {
                @apply text-7xl;
            }
        }
        h2 {
            @apply text-4xl text-black uppercase;

            @include media-breakpoint-up(md) {
                @apply text-5xl;
            }

            @include media-breakpoint-up(xl) {
                @apply text-6xl;
            }
        }

        h3 {}

        h4 {
            color: var(--color11);
            font-family: var(--raleway-bold);
            font-size: 2rem;
            font-weight: bolder;
            line-height: 2.4rem;

            @include media-breakpoint-up(md) {
                font-size: 2.8rem;
                line-height: 3.2rem;
            }
        }

        h5 {
            @apply text-black text-xl font-medium;
            @include media-breakpoint-up(md) {
                @apply text-2xl;
            }
        }

        h6 {
            &,
            * {
                font-family: var(--lato-bold);
                font-size: 1.2rem;
                font-weight: bolder;
                line-height: 1.2rem;
                text-transform: uppercase;

                @include media-breakpoint-up(md) {
                    font-size: 1.8rem;
                    line-height: 1.8rem;
                }

                @include media-breakpoint-up(xl) {
                    font-size: 2.4rem;
                    line-height: 2.4rem;
                }
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            &,
            * {
                color: var(--color-heading);
            }
        }
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    #popular-product-slider::-webkit-scrollbar {
        width: 0;
        height: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(to top, var(--color1) 0%, transparent 100%);
        border-radius: 100px;
    }

    ::-webkit-scrollbar-track {
        background: var(--color13);
    }

    ::-webkit-scrollbar-track-piece {
        background: var(--color13);
    }
    a:hover {
        @apply text-theme-primary underline
    }
}