.i4t-collapse:not(.show) {
  @apply hidden
}
.collapsing {
  @apply h-0 overflow-hidden;
  transition: height 0.35s ease;
}
.menu-item {
  &>a {
    @apply block p-2 text-black no-underline;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
}
.menu-item {
    &>a:hover, &>a:focus {
      @apply text-gray-500
    }
}
.navbar {
  @apply relative flex flex-wrap items-center justify-between p-2;
}

.navbar-nav {
  @apply flex flex-col ps-0 mb-0 list-none;
}
.navbar-nav .menu-item.current-menu-item>a, .navbar-nav .menu-item>a.show {
  @apply text-gray-500;
}

.navbar-collapse {
  @apply basis-full grow items-center
}

.navbar-toggler {
  @apply p-2 text-base text-black bg-transparent;
}

.navbar-toggler-icon {
  @apply inline-block w-6 h-6 align-middle;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center;
  background-size: 100%;
}

@media (min-width: 640px) {
  .navbar-expand-sm {
    @apply flex-wrap justify-start
  }
  .navbar-expand-sm .navbar-nav {
    @apply flex-row
  }
  .navbar-expand-sm .navbar-nav .menu-item>a {
    @apply px-2
  }
  .navbar-expand-sm .navbar-nav-scroll {
    @apply visible
  }
  .navbar-expand-sm .navbar-collapse {
    @apply flex flex-auto;
  }
  .navbar-expand-sm .navbar-toggler {
    @apply hidden
  }
}
.sticky-top {
  @apply sticky top-0 z-['1020'];
  animation: smoothScroll 0.1s alternate;
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}