.word-design {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 2.5rem;
        height: 0.2rem;
        transform: translateY(-1rem);

        @include media-breakpoint-up('md') {
            top: 50%;
            transform: translate(-5.8rem, -50%);
            width: 4.8rem;
        }
    }

    &--dark {
        &:before {
            background: var(--color11);
        }
    }
}
