// =============
// Raleway fonts
// =============
//@font-face {
//    font-family: 'Raleway-Thin';
//    font-weight: 100;
//    src: url('/assets/fonts/Raleway/Raleway-Thin.ttf');
//}
//@font-face {
//    font-family: 'Raleway-ExtraLight';
//    font-weight: 200;
//    src: url('/assets/fonts/Raleway/Raleway-ExtraLight.ttf');
//}
@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('/assets/fonts/Poppins/Poppins-Regular.ttf');
}
